html, body {
    height: 100%;
    margin: 0; 
    padding: 0;  
    font-family: 'Krub';
    line-height: 1.5;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#container {
    display: flex;  
    min-height: 100%;
    flex-direction: column; 
}
  
#header {
    background: rgb(23,106,182);
    border-bottom: 10px rgb(37,70,137) solid;
}

#header-container{
    height: 60px;
    width: 75%;  
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
 
#body {
    flex: auto; 
    height: 100%;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}
  
#body-container {
    height: 800px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.body-photo {
    border: 3px darkgray solid;
    align-self: center;
}

#body-text{
    background: darkgray;
    width: 60%;
    text-align: center;
    margin-bottom: 25px;
}

#footer {
    background: #505050;
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 75%;
    display: flex;
    justify-items: center;
    margin: 0 auto;
}

.footer-column {
    height: 160px;
    width: 33%;
    margin: 16px 8px 16px 8px;
    border-radius: 5px;
    border: 3px solid grey;
}

#education-text{
    background-color: darkgray;
    width: 60%;
    align-self: center;
    padding: 5px;
}

#brand {
    color: lightgray;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

.span100{
    width: 100%;
    justify-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.split30{
    width: 30%;
    background-color: darkgray;  
    text-align: center;
}

.split60{
    width: 60%;
    background-color: darkgray;  
    text-align: center;
}

.bold{
    font-weight: 600;
}


